h1 {color: rgb(255, 234, 0); }
h2 {color: rgb(255, 236, 66);line-height: 15%; font-size:115%;}
/* body {
  background-color:rgb(55, 139, 111); ;
  } */

  .button:hover {
  color: rgb(255, 255, 15);
  text-decoration: dotted;
}


i:hover {
  color: rgb(255, 251, 1);
  text-decoration: dotted;
}

text-center {
  text-align: center;
}


div {
  background-color: rgb(39, 212, 94);
  padding: 50px;
  width: 500px;
  margin: 45px auto;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  font-family: 'Nunito Sans';
  align: center
}
#profile_pic {
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(24, 69, 30, 0.1);
  align: center
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 2000px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  body {
    background-color:rgb(55, 139, 111); font-family: 'Nunito Sans';
    }
}

@media (max-width: 200px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.button {
  text-decoration: none;
  color: rgb(8, 59, 12);
  background-color: #e3d812;
  padding: 15px;
  border-radius: 5px;
  transition: 0.3s ease;
  align:center
}

.menu {
  text-decoration: none;
  list-style: none;
  color: rgb(8, 59, 12);
  font-size: 50px;
  align-items: center;
  padding-left: 0;
  display: inline;

}

.menu li {
  display: inline;

}
